/* Universal selector */
*{
    box-sizing: border-box;
    margin: 0;
    border: 0;
    font-family: "Poppins";
    user-select: none;
}

/* Display flex on the body */
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    position: relative;
}

body::before{
    content: "";
    position: absolute;
    height: 10px;
    width: 100%;
    background-image: linear-gradient(to right, cyan, blue);
}

header{
    position: absolute;
    top: 0;
    background-color: red;
    height: 11%;
    width: 100%;
    border-width: 0px 0px 1px 0px !important;
}

/* Using the form general selector since there's only one of that within the page */
form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    padding: 2em;
    gap: 0.5em;
    position: relative;
}

/* Creating a custom border */
form::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    z-index: -1;
    padding: 0.6em;
    border-radius: 20px;
}

/* General inputs field */
input[type="text"], input[type="password"]{
    outline: none;
    border: none;   
}

/* Gereral icons that will be displayed within the input fields */
ion-icon{
    margin-bottom: -0.21em;     
}
