/* Universal selector */
*{
    box-sizing: border-box;
    margin: 0;
    border: 0;
    font-family: "Poppins";
    user-select: none;
}

/* Display flex on the body */
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

header{
    position: absolute;
    top: 0;
    background-color: red;
    height: 11%;
    width: 100%;
    border-width: 0px 0px 1px 0px !important;
}

/* Using the form general selector since there's only one of that within the page */
form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    padding: 2em;
    gap: 0.5em;
}

/* General inputs field */
input[type="text"], input[type="password"]{
    outline: none;
    border: none;   
}

/* Gereral icons that will be displayed within the input fields */
ion-icon{
    margin-bottom: -0.21em;     
}
