/* Main application */
.application{
    height: 100%;
    width: 100%;
    background-image: url("/images/wallpaper.jpg");
    background-repeat: no-repeat;
    background-size: auto;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

/* Main application logo */
.application-logo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: absolute;
    top: 13%;
    font-size: 16pt;
    color: rgb(236, 234, 234);
}

.application-icon{
    font-size: 48px;
}

.application-logo-title{
    margin-bottom: -0.5em;
}

/* Glass effect */
.glass{
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

#passwordViewer{
    cursor: pointer;
}

#password{
    max-width: 147px;
}